<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits List</title>
</head>

<body>
    <h1>Fruits Index Page</h1>
    <ul>
        <% fruits.forEach(fruit=> { %>
            <li>
                <a href="/fruits/<%=fruit._id; %>">
                    <%=fruit.name; %>
                </a>
                <form action="/fruits/<%= fruit.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />
                </form>
                <a href="/fruits/<%=fruit._id %>/edit">Edit</a>
            </li>
            <% }) %>
    </ul>
    <nav>
        <a href="/fruits/new">ADD A NEW FRUIT</a>
    </nav>
</body>

</html>