<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <nav>
        <a href="/fruits">Back to All Fruits</a>
    </nav>
    <h1><%=fruit.name %></h1>
    Color: <%= fruit.color %>
    <br>
    Ready To Eat: <%= fruit.readyToEat %>
</body>
</html>